<!DOCTYPE html>
<html lang="en">

<head>
  <script src="tailwindcss"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIO Discord</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+Pro&display=swap">
  <link rel="stylesheet" href="fontawesome" />
  <link rel="stylesheet" href="reset.min">
  <link rel="stylesheet" href="style">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
  <div class="all">
    <div class="bg-white min-h-screen w-full dark:bg-gray-900">
      <div class="flex flex-row justify-between toggle">
        <div class="darkmode">
          <label class="flex items-center cursor-pointer" for="dark-toggle">
            <div class="relative"><input class="checkbox hidden" id="dark-toggle" type="checkbox" name="dark-mode" />
              <div class="block border-gray-900 w-14 h-8 rounded-full border-[1px] dark:border-white"></div>
              <div class="dot absolute left-1 top-1 bg-gray-800 w-6 h-6 rounded-full transition dark:bg-white"></div>
            </div>
          </label>
        </div>
      </div>
      <div id="loginSign" class="loginSign">
        <section id="container" class="container">
          <input id="input" class="input" type="checkbox" />
          <label for="input" class="toggle">
            <span class="text sign-text dark:text-white">Sign Up</span>
            <span class="icon">
              <svg class="arrow" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                height="32" width="32" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                </path>
              </svg>
            </span>
            <span class="text log-text dark:text-white">Log In</span>
          </label>
          <div class="card">

            <div class="content sign">
              <h2 class="title">Sign Up</h2>
              <div class="fields">
                <label class="field">
                  <div class="icon">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path
                          d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                  <input type="text" id="name-sign" class="name-sign" placeholder="Pseudo" />
                </label>

                <label class="field">
                  <div class="icon">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                      stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="4"></circle>
                      <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                    </svg>
                  </div>
                  <input type="email" id="email-sign" class="email-sign" placeholder="Email" />
                </label>

                <label class="field">
                  <div class="icon">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 2C9.243 2 7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v2H9V7zm9.002 13H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z">
                      </path>
                    </svg>
                  </div>
                  <input type="password" id="password-sign" class="password-sign" placeholder="Password" />
                </label>
              </div>
              <div id="erreur-sign"></div>
              <div class="submit">
                <button type="submit" id="button-submit-sign" class="button-submit-sign">Submit</button>
              </div>
            </div>
            <div class="content log">
              <h2 class="title">Log In</h2>
              <div class="fields">
                <label class="field">
                  <div class="icon">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                      stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="4"></circle>
                      <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                    </svg>
                  </div>
                  <input type="email" id="email-login" class="email-login" placeholder="Your Email" />
                </label>

                <label class="field">
                  <div class="icon">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 2C9.243 2 7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v2H9V7zm9.002 13H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z">
                      </path>
                    </svg>
                  </div>
                  <input type="password" id="password-login" class="password-login" placeholder="Your Password" />
                </label>
              </div>

              <div class="submit">
                <button type="submit" id="button-submit-login" class="button-submit-login">Submit</button>
              </div>
            </div>
          </div>
        </section>
        <section id="verif-email" class="container">
          <div class="card">
            <div class="content log">
              <h2 class="title">Enter Your Verification Code</h2>
              <div class="fields verif-email-all">
                <div class="verif-email-content">
                  <input class="verif-email-text" type="text">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- pour savoir le prenom de la personne connecter EN COURS !!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- <section id="nomDiscord" class="nomDiscord" style="display: none;">
            <label for="nom-input">Enter your name:</label>
            <input type="text" id="nom-input">
            <button id="nom-submit">Submit</button>
        </section> -->
      </div>
      <div id="discord" class="discord">
        <section class="amiDiscord">
          <ul id="utilisateur-list"></ul>
        </section>
        <section class="chatDiscord">
          <ul id="messages" class='dark:text-white'></ul>
          <form id="form" action="">
            <input id="input" autocomplete="off" />
            <button id="button">Send</button>
          </form>
        </section>
      </div>
    </div>
  </div>
  <script src="socket.io/socket.io.js"></script>
  <script src="script"></script>
</body>

</html>
